<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <title>ERP Homepage</title>
</head>
<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages  %}
            {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissable fade show fixed-top" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
    <section>
        <div class="imgBx">
            <img src="/static/images/bg.jpg" alt="">
        </div>
        <div class="contentBx">
            <div class="formBx">
                <h2>Welcome</h2>
                    <div class="inputBx">
                        <a href="/signup">
                            <input type="submit" name="signup" value="Sign Up">
                        </a>
                    </div>
                    <div class="inputBx">
                        <a href="/login">
                            <input type="submit" name="login" value="Log In">
                        </a>
                    </div>
            </div>
        </div>
    </section>
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>